In [4]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saskylakh,RU,2021-12-03 00:16:06,71.9167,114.0833,-44.52,100,62,4.68
1,1,Carnarvon,AU,2021-12-03 00:16:07,-24.8667,113.6333,73.47,68,90,23.02
2,2,Gamba,GA,2021-12-03 00:16:07,-2.6500,10.0000,77.29,86,100,3.00
3,3,Lamu,KE,2021-12-03 00:14:26,-2.2717,40.9020,80.82,81,21,7.54
4,4,Namatanai,PG,2021-12-03 00:16:08,-3.6667,152.4333,84.33,71,93,4.88

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [11]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
##replacing heatlayer temps again
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
##replacing heatlayer temps with zoom
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.add zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [14]:
# Heatmap of temperature with disspiation
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
##and again
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
#zooming
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:

# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [28]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Gamba,GA,2021-12-03 00:16:07,-2.6500,10.0000,77.29,86,100,3.00
3,3,Lamu,KE,2021-12-03 00:14:26,-2.2717,40.9020,80.82,81,21,7.54
4,4,Namatanai,PG,2021-12-03 00:16:08,-3.6667,152.4333,84.33,71,93,4.88
9,9,Vaini,TO,2021-12-03 00:16:09,-21.2000,-175.2000,84.36,79,40,11.50
11,11,Rikitea,PF,2021-12-03 00:16:10,-23.1203,-134.9692,76.51,74,1,15.75
13,13,Kapaa,US,2021-12-03 00:14:29,22.0752,-159.3190,80.92,79,40,1.01
14,14,Saint-Philippe,RE,2021-12-03 00:16:11,-21.3585,55.7679,76.59,87,56,11.36
19,19,Port Blair,IN,2021-12-03 00:16:13,11.6667,92.7500,79.11,84,87,13.80
20,20,Mitsamiouli,KM,2021-12-03 00:16:13,-11.3847,43.2844,79.99,77,10,11.59
25,25,Merauke,ID,2021-12-03 00:16:15,-8.4667,140.3333,83.71,75,94,4.41

In [31]:
#check null
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [32]:
#run count, if null values, use dropna()
preferred_cities_df.count()

City_ID       66
City          66
Country       66
Date          66
Lat           66
Lng           66
Max Temp      66
Humidity      66
Cloudiness    66
Wind Speed    66
dtype: int64

In [34]:
###make copy of preferred cities df and name it hotel df so custoomers can loop 
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2            Gamba      GA     77.29  -2.6500   10.0000
3             Lamu      KE     80.82  -2.2717   40.9020
4        Namatanai      PG     84.33  -3.6667  152.4333
9            Vaini      TO     84.36 -21.2000 -175.2000
11         Rikitea      PF     76.51 -23.1203 -134.9692
13           Kapaa      US     80.92  22.0752 -159.3190
14  Saint-Philippe      RE     76.59 -21.3585   55.7679
19      Port Blair      IN     79.11  11.6667   92.7500
20     Mitsamiouli      KM     79.99 -11.3847   43.2844
25         Merauke      ID     83.71  -8.4667  140.3333

In [50]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [51]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError, IndentationError):
    print("Hotel not found... skipping.")

In [53]:
hotel_df

            City Country  Max Temp      Lat       Lng    Hotel Name
2          Gamba      GA     77.29  -2.6500   10.0000
3           Lamu      KE     80.82  -2.2717   40.9020
4      Namatanai      PG     84.33  -3.6667  152.4333
9          Vaini      TO     84.36 -21.2000 -175.2000
11       Rikitea      PF     76.51 -23.1203 -134.9692
..           ...     ...       ...      ...       ...           ...
205  Nortelandia      BR     75.81 -14.4547  -56.8028
214         Hilo      US     82.13  19.7297 -155.0900
220         Palu      ID     84.79  -0.8917  119.8707
221    Mogadishu      SO     79.77   2.0371   45.3438
226       Bonito      BR     75.42 -21.1211  -56.4819  Marruá Hotel

[66 rows x 6 columns]

In [55]:
# Add a heatmap of temperature for the vacation spots.for new hotel df
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
#add markers
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [60]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [61]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))