## Deliverable 2. Create a Customer Travel Destinations Map.

In [34]:
# Import the random module.
import random
# Import timeit.
import timeit
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy
# Import the requests library.
import requests
# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime
import sys
import config
# Import the API key.
from config import g_key
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [35]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("weather_data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,75.40,71,100,22.79,overcast clouds
1,1,Yar-Sale,RU,66.8333,70.8333,-8.81,90,44,9.48,scattered clouds
2,2,Tuktoyaktuk,CA,69.4541,-133.0374,5.00,78,20,10.36,few clouds
3,3,Carnarvon,AU,-24.8667,113.6333,71.67,88,90,8.05,overcast clouds
4,4,Port Alfred,ZA,-33.5906,26.8910,67.48,74,74,14.94,broken clouds

In [36]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [37]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
city_data_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,75.40,71,100,22.79,overcast clouds
3,3,Carnarvon,AU,-24.8667,113.6333,71.67,88,90,8.05,overcast clouds
5,5,Vanimo,PG,-2.6741,141.3028,77.76,90,100,6.51,overcast clouds
7,7,Yangambi,CD,0.8102,24.4336,71.76,97,100,2.71,overcast clouds
12,12,Wewak,PG,-3.5534,143.6268,77.77,90,100,6.17,overcast clouds
14,14,Bengkulu,ID,-3.8004,102.2655,74.97,87,41,4.34,scattered clouds
16,16,Kapaa,US,22.0752,-159.3190,78.78,87,75,1.01,light rain
25,25,Ocampo,MX,21.6500,-101.5000,70.95,23,100,11.36,overcast clouds
28,28,Puerto Ayora,EC,-0.7393,-90.3518,80.56,77,91,9.44,overcast clouds
30,30,Waingapu,ID,-9.6567,120.2641,78.71,88,81,4.36,broken clouds

In [38]:
# 4a. Determine if there are any empty rows.
#check null
city_data_df.isnull().sum()

City_ID                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [39]:
city_data_df.dropna(inplace=True)
city_data_df.info

<bound method DataFrame.info of      City_ID       City Country      Lat       Lng  Max Temp  Humidity  \
0          0    Rikitea      PF -23.1203 -134.9692     75.40        71
3          3  Carnarvon      AU -24.8667  113.6333     71.67        88
5          5     Vanimo      PG  -2.6741  141.3028     77.76        90
7          7   Yangambi      CD   0.8102   24.4336     71.76        97
12        12      Wewak      PG  -3.5534  143.6268     77.77        90
..       ...        ...     ...      ...       ...       ...       ...
670      670     Sabang      ID   5.8933   95.3214     82.06        73
675      675     Tibiri      NE  13.5627    7.0485     80.94        14
683      683       Gizo      SB  -8.1030  156.8419     78.22        88
695      695     Tiarei      PF -17.5333 -149.3333     84.22        77
699      699   Coruripe      BR -10.1256  -36.1756     82.62        68

     Cloudiness  Wind Speed Current Description
0           100       22.79     overcast clouds
3            90        8.05     overcast clouds
5           100        6.51     overcast clouds
7           100        2.71     overcast clouds
12          100        6.17     overcast clouds
..          ...         ...                 ...
670          11       17.25          few clouds
675           0        6.91           clear sky
683         100       16.84       moderate rain
695         100        9.48     overcast clouds
699          86       16.78     overcast clouds

[242 rows x 10 columns]>

In [40]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#run count, if null values, use dropna()
city_data_df.count()

City_ID                242
City                   242
Country                242
Lat                    242
Lng                    242
Max Temp               242
Humidity               242
Cloudiness             242
Wind Speed             242
Current Description    242
dtype: int64

In [41]:
#new data frame
clean_df = city_data_df
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,75.40,71,100,22.79,overcast clouds
3,3,Carnarvon,AU,-24.8667,113.6333,71.67,88,90,8.05,overcast clouds
5,5,Vanimo,PG,-2.6741,141.3028,77.76,90,100,6.51,overcast clouds
7,7,Yangambi,CD,0.8102,24.4336,71.76,97,100,2.71,overcast clouds
12,12,Wewak,PG,-3.5534,143.6268,77.77,90,100,6.17,overcast clouds
14,14,Bengkulu,ID,-3.8004,102.2655,74.97,87,41,4.34,scattered clouds
16,16,Kapaa,US,22.0752,-159.3190,78.78,87,75,1.01,light rain
25,25,Ocampo,MX,21.6500,-101.5000,70.95,23,100,11.36,overcast clouds
28,28,Puerto Ayora,EC,-0.7393,-90.3518,80.56,77,91,9.44,overcast clouds
30,30,Waingapu,ID,-9.6567,120.2641,78.71,88,81,4.36,broken clouds

In [42]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,75.40,overcast clouds,-23.1203,-134.9692,
3,Carnarvon,AU,71.67,overcast clouds,-24.8667,113.6333,
5,Vanimo,PG,77.76,overcast clouds,-2.6741,141.3028,
7,Yangambi,CD,71.76,overcast clouds,0.8102,24.4336,
12,Wewak,PG,77.77,overcast clouds,-3.5534,143.6268,
14,Bengkulu,ID,74.97,scattered clouds,-3.8004,102.2655,
16,Kapaa,US,78.78,light rain,22.0752,-159.3190,
25,Ocampo,MX,70.95,overcast clouds,21.6500,-101.5000,
28,Puerto Ayora,EC,80.56,overcast clouds,-0.7393,-90.3518,
30,Waingapu,ID,78.71,broken clouds,-9.6567,120.2641,

In [43]:
len(hotels["results"])

11

In [44]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json() 
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [23]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,75.40,overcast clouds,-23.1203,-134.9692,
3,Carnarvon,AU,71.67,overcast clouds,-24.8667,113.6333,
5,Vanimo,PG,77.76,overcast clouds,-2.6741,141.3028,
7,Yangambi,CD,71.76,overcast clouds,0.8102,24.4336,
12,Wewak,PG,77.77,overcast clouds,-3.5534,143.6268,
...,...,...,...,...,...,...,...
670,Sabang,ID,82.06,few clouds,5.8933,95.3214,
675,Tibiri,NE,80.94,clear sky,13.5627,7.0485,
683,Gizo,SB,78.22,moderate rain,-8.1030,156.8419,
695,Tiarei,PF,84.22,overcast clouds,-17.5333,-149.3333,
699,Coruripe,BR,82.62,overcast clouds,-10.1256,-36.1756,Pousada e Hotel Litoral Sul

In [11]:
# 8a. Create the output File (CSV)
clean_hotel_df = hotel_df
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

NameError: name 'output_data_file' is not defined

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure